.preweb {
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, 30vh) repeat(3, auto) 1fr auto;
  grid-gap: 3rem;
  justify-items: center;
}

.preMenu {
  grid-column: 2 / -2;
  grid-row: -1 / -1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}

.preMenu a {
  font-size: 4rem;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1000px) {
  .preMenu {
    padding-bottom: 1rem;
  }
  .preMenu a {
    font-size: 30px;
  }
}

.menuItem2 {
  text-align: right;
}

.imgCover {
  grid-row: 1;
  justify-self: center;
  max-width: 30vh;
}
