.title {
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
}

.musicBox {
  grid-row: 3 / 8;
  grid-column: 3 / -3;
  justify-self: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
  align-content: stretch;
}

.musicImg {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}

/* Check the song title */
.musicInfo {
  grid-row: 2;
  display: grid;
  grid-template-rows: 30px auto repeat(3, 1fr);
  grid-gap: 1rem;
  align-content: space-between;
}

.musicInfo h3 {
  align-self: end;
}

@media screen and (min-width: 600) {

}
@media screen and (min-width: 700px) {

  .title {
    grid-row: 2 / 3;
  }

  .musicBox {
    max-width: 900px;
    grid-row: 3 / 9;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .musicInfo h3, .musicInfo h2 {
    align-self: start;
  }

  .musicInfo {
    grid-row: 1;
    grid-column: 2;
  }

}
