.title {
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
}

.musicBox {
  grid-row: 3 / 8;
  grid-column: 3 / -3;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
}

.musicImg {
  grid-column: 1;
  grid-row: 1;
  max-width: 90%;
  justify-self: center;
}

.musicInfo {
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  align-content: space-between;
}

.musicInfo h3 {
  align-self: end;
}

@media screen and (min-width: 500px) {

  .title {
    grid-row: 3;
  }

  .musicBox {
    max-width: 900px;
    grid-row: 5 / 9;
    grid-column: 1 / -1;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
  }

  .musicImg {
    max-height: 100%;
  }
}
