.imgLanding {
  position: absolute;
  height: 30rem;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.title {
  grid-column: 1 / -1;
  grid-row: 6 / 8;
  align-self: center;
  justify-self: center;
}

.landBox {
  padding: 1rem;
  grid-column: 8 / span 2;
  grid-row: 8 / span 2;
  background-color: white;
  border: solid black 1px;
  width: 20rem;
  height: 15rem;

  display: grid;
  opacity: 97%;
  grid-gap: 0.5rem;

}

.imgContainer {
  height: 100%;
  width: 80%;
  overflow: hidden;
}

.imgContainer img {
  display: block;
  width: 100%;
  transform: translateY(-20%);
}
