.menu *:hover {
  text-decoration: underline;
}

.menuItem0 {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.menuItem1 {
  position: fixed;
  left: 2rem;
  top: 2rem;
}

.menuItem2 {
  position: fixed;
  right: 2rem;
  top: 2rem;
  writing-mode: vertical-rl;
}

.menuItem3 {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.menuItem4 {
  position: fixed;
  left: 2rem;
  bottom: 4rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

@media screen and (min-width: 500px) {
  .menuItem4 {
    bottom: 2rem;
  }
}
